apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-blueprint-providers
  namespace: authentik
data:
  providers.yaml: |
    version: 1
    metadata:
      name: Homelab Providers
    entries:
      - model: authentik_providers_proxy.proxyprovider
        id: provider-homelab-forward-auth
        state: present
        identifiers:
          name: Homelab Forward Auth
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
          mode: forward_domain
          external_host: https://auth.merry.home.arpa
          cookie_domain: merry.home.arpa
          access_token_validity: hours=24
