apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-blueprint-providers
  namespace: authentik
data:
  providers.yaml: |
    version: 1
    metadata:
      name: Homelab Providers
    entries:
      # ===================
      # Proxy Providers (forward_single)
      # ===================
      - model: authentik_providers_proxy.proxyprovider
        id: provider-hubble
        state: present
        identifiers:
          name: Hubble Proxy
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
          mode: forward_single
          external_host: https://hubble.merry.home.arpa

      - model: authentik_providers_proxy.proxyprovider
        id: provider-longhorn
        state: present
        identifiers:
          name: Longhorn Proxy
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
          mode: forward_single
          external_host: https://longhorn.merry.home.arpa

      - model: authentik_providers_proxy.proxyprovider
        id: provider-traefik
        state: present
        identifiers:
          name: Traefik Proxy
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
          mode: forward_single
          external_host: https://traefik.merry.home.arpa

      - model: authentik_providers_proxy.proxyprovider
        id: provider-adguard
        state: present
        identifiers:
          name: AdGuard Proxy
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
          mode: forward_single
          external_host: https://adguard.merry.home.arpa

      - model: authentik_providers_proxy.proxyprovider
        id: provider-homepage
        state: present
        identifiers:
          name: Homepage Proxy
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
          mode: forward_single
          external_host: https://homepage.merry.home.arpa

      - model: authentik_providers_proxy.proxyprovider
        id: provider-homarr
        state: present
        identifiers:
          name: Homarr Proxy
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
          mode: forward_single
          external_host: https://homarr.merry.home.arpa

      # ===================
      # OAuth2 Provider (Grafana OIDC)
      # ===================
      - model: authentik_providers_oauth2.oauth2provider
        id: provider-grafana-oidc
        state: present
        identifiers:
          name: Grafana OIDC
        attrs:
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
          client_type: confidential
          client_id: grafana
          redirect_uris:
            - matching_mode: strict
              url: https://grafana.merry.home.arpa/login/generic_oauth
          property_mappings:
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]
