apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-blueprint-applications
  namespace: authentik
data:
  applications.yaml: |
    version: 1
    metadata:
      name: Homelab Applications
    entries:
      - model: authentik_core.application
        id: app-homelab-forward-auth
        state: present
        identifiers:
          slug: homelab-forward-auth
        attrs:
          name: Homelab Forward Auth
          provider: !Find [authentik_providers_proxy.proxyprovider, [name, Homelab Forward Auth]]
          meta_launch_url: https://homepage.merry.home.arpa
          policy_engine_mode: any
