apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-blueprint-outpost
  namespace: authentik
  labels:
    blueprints.goauthentik.io/enabled: "true"
data:
  outpost.yaml: |
    version: 1
    metadata:
      name: Homelab Outpost Config
      labels:
        blueprints.goauthentik.io/instantiate: "true"
    entries:
      - model: authentik_outposts.outpost
        state: present
        identifiers:
          name: authentik Embedded Outpost
        attrs:
          type: proxy
          providers:
            - !Find [authentik_providers_proxy.proxyprovider, [name, Homelab Forward Auth]]
