apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 1h
  chart:
    spec:
      chart: longhorn
      version: "1.10.1"
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  values:
    preUpgradeChecker:
      jobEnabled: false
    defaultSettings:
      defaultDataPath: /var/lib/longhorn
      replicaAutoBalance: ignored
      replicaSoftAntiAffinity: ignored
      replicaZoneSoftAntiAffinity: ignored
      replicaDiskSoftAntiAffinity: ignored
      backupCompressionMethod: lz4
      snapshotDataIntegrity: ignored
      freezeFilesystemForSnapshot: ignored
      restoreVolumeRecurringJob: ignored
      offlineReplicaRebuilding: ignored
    persistence:
      defaultClass: true
      defaultClassReplicaCount: 3
      defaultFsType: ext4
      reclaimPolicy: Delete
