---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: garage
  namespace: garage
spec:
  interval: 30m
  timeout: 15m

  chart:
    spec:
      chart: script/helm/garage
      sourceRef:
        kind: GitRepository
        name: garage
        namespace: flux-system
      interval: 1h

  dependsOn:
    - name: longhorn
      namespace: longhorn-system

  install:
    crds: CreateReplace
    remediation:
      retries: 3

  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      remediateLastFailure: true

  uninstall:
    keepHistory: false

  values:
    image:
      registry: docker.io
      # renovate: datasource=docker depName=dxflrs/amd64_garage
      repository: dxflrs/amd64_garage
      tag: v2.1.0

    initContainers:
      image:
        registry: docker.io
        # renovate: datasource=docker depName=busybox
        repository: busybox
        tag: "1.37"

    securityContext:
      container:
        allowPrivilegeEscalation: false

    deployment:
      kind: StatefulSet
      replicaCount: 3

    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: garage
              topologyKey: kubernetes.io/hostname

    garage:
      replicationFactor: "2"
      consistencyMode: consistent
      dbEngine: lmdb
      s3:
        api:
          rootDomain: ".s3.garage.local"

    persistence:
      enabled: true
      meta:
        storageClass: longhorn
        size: 1Gi
      data:
        storageClass: longhorn
        size: 50Gi

    monitoring:
      serviceMonitor:
        enabled: true

    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
