apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: promtail
  namespace: loki-system
spec:
  interval: 30m
  timeout: 10m

  dependsOn:
    - name: cilium
      namespace: kube-system
    - name: loki
      namespace: loki-system

  chart:
    spec:
      chart: promtail
      version: "6.17.1"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      interval: 1h

  install:
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      remediateLastFailure: true

  uninstall:
    keepHistory: false

  values:
    config:
      clients:
        - url: http://loki:3100/loki/api/v1/push

    resources:
      requests:
        cpu: 25m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi

    serviceMonitor:
      enabled: true
