---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Alert
metadata:
  name: flux-all
  namespace: flux-system
spec:
  providerRef:
    name: discord
  eventSeverity: info
  eventSources:
    - kind: Kustomization
      name: "*"
    - kind: HelmRelease
      name: "*"
    - kind: GitRepository
      name: "*"
  exclusionList:
    - ".*upgrade.*checksum.*"
    - ".*no changes.*"
    - "^Dependencies do not meet ready condition, retrying in.*"
    - "^unable to clone '.*': dial tcp: .*: server misbehaving$"
    - "^HelmChart '.*' is not ready$"
