apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Plugin Barman Cloud for CNPG
  # https://github.com/cloudnative-pg/plugin-barman-cloud
  - https://github.com/cloudnative-pg/plugin-barman-cloud/releases/download/v0.10.0/manifest.yaml
