apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mayastor
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://openebs.github.io/mayastor-extensions
    chart: mayastor
    targetRevision: 2.10.0
    helm:
      values: |
        csi:
          node:
            initContainers:
              enabled: false
        etcd:
          auth:
            rbac:
              create: false
            token:
              type: simple
          persistence:
            enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: mayastor
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
