apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 79.12.0
    chart: kube-prometheus-stack
    helm:
      values: |
        prometheusOperator:
          admissionWebhooks:
            patch:
              ttlSecondsAfterFinished: 60

        grafana:
          enabled: true
          admin:
            existingSecret: grafana-admin
            userKey: admin-user
            passwordKey: admin-password
          persistence:
            enabled: true
            storageClassName: longhorn
            size: 5Gi
          ingress:
            enabled: false

        prometheus:
          prometheusSpec:
            retention: 7d
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: longhorn
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 20Gi
            additionalScrapeConfigs:
              - job_name: etcd
                static_configs:
                  - targets:
                      - 192.168.1.10:2381
                      - 192.168.1.11:2381
                      - 192.168.1.12:2381

        alertmanager:
          alertmanagerSpec:
            storage:
              volumeClaimTemplate:
                spec:
                  storageClassName: longhorn
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 5Gi

        nodeExporter:
          enabled: true

        kubeStateMetrics:
          enabled: true

        kubeControllerManager:
          enabled: false

        kubeScheduler:
          enabled: false

        kubeProxy:
          enabled: false

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
