apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-gpu-plugin
  namespace: kube-system
spec:
  interval: 30m

  chart:
    spec:
      chart: intel-device-plugins-gpu
      version: "0.34.1"
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
      interval: 1h

  dependsOn:
    - name: cilium
      namespace: kube-system

  install:
    crds: CreateReplace
    remediation:
      retries: 3

  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      remediateLastFailure: true

  uninstall:
    keepHistory: false

  values:
    sharedDevNum: 10
    nodeFeatureRule: false
