---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: intel-gpu-plugin
  namespace: kube-system
  labels:
    app.kubernetes.io/name: intel-gpu-plugin
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: intel-gpu-plugin
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: intel-gpu-plugin
    spec:
      containers:
        - name: intel-gpu-plugin
          # renovate: datasource=docker depName=intel/intel-gpu-plugin
          image: docker.io/intel/intel-gpu-plugin:0.35.0
          imagePullPolicy: IfNotPresent
          args:
            - -shared-dev-num=10
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          resources:
            requests:
              cpu: 40m
              memory: 45Mi
            limits:
              cpu: 100m
              memory: 90Mi
          volumeMounts:
            - name: devfs
              mountPath: /dev/dri
              readOnly: true
            - name: sysfsdrm
              mountPath: /sys/class/drm
              readOnly: true
            - name: kubeletsockets
              mountPath: /var/lib/kubelet/device-plugins
      volumes:
        - name: devfs
          hostPath:
            path: /dev/dri
        - name: sysfsdrm
          hostPath:
            path: /sys/class/drm
        - name: kubeletsockets
          hostPath:
            path: /var/lib/kubelet/device-plugins
      nodeSelector:
        kubernetes.io/arch: amd64
