---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 30m
  timeout: 10m

  chart:
    spec:
      chart: traefik
      version: "38.0.1"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 1h

  dependsOn:
    - name: cilium
      namespace: kube-system
    - name: cert-manager
      namespace: cert-manager

  install:
    crds: CreateReplace
    remediation:
      retries: 3

  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      remediateLastFailure: true

  uninstall:
    keepHistory: false

  values:
    providers:
      kubernetesGateway:
        enabled: true
      kubernetesCRD:
        allowCrossNamespace: true
    gateway:
      enabled: false
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.${CLUSTER_DOMAIN}`)
        entryPoints:
          - websecure
        tls:
          secretName: traefik-dashboard-tls
    service:
      type: LoadBalancer
      spec:
        loadBalancerIP: ${LB_TRAEFIK}
    logs:
      general:
        level: INFO
      access:
        enabled: true
