apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: home-assistant
  namespace: home-automation
spec:
  maxUnavailable: 0
  selector:
    matchLabels:
      app.kubernetes.io/name: home-assistant
