apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 1h
  chart:
    spec:
      chart: traefik
      version: "37.4.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  values:
    providers:
      kubernetesGateway:
        enabled: true
    gateway:
      enabled: false
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.internal`)
        entryPoints:
          - websecure
        tls:
          secretName: traefik-dashboard-tls
    service:
      type: LoadBalancer
    logs:
      general:
        level: INFO
      access:
        enabled: true
