---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: capacitor
  namespace: flux-system
spec:
  interval: 1h
  url: https://github.com/gimlet-io/capacitor
  ref:
    branch: main
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: capacitor
  namespace: flux-system
spec:
  interval: 1h
  targetNamespace: flux-system
  sourceRef:
    kind: GitRepository
    name: capacitor
  path: ./deploy
  prune: true
  wait: true
