---
clusterName: going-merry
endpoint: https://192.168.1.9:6443

talosVersion: v1.11.5
kubernetesVersion: v1.34.1

cniConfig:
  name: none
allowSchedulingOnControlPlanes: true
additionalApiServerCertSans:
  - 192.168.1.9
additionalMachineCertSans:
  - 192.168.1.9
  - 192.168.1.10
  - 192.168.1.11
  - 192.168.1.12

nodes:
  - hostname: luffy
    ipAddress: 192.168.1.10
    controlPlane: true
    installDiskSelector:
      model: CT500P310SSD8
    networkInterfaces:
      - interface: enp1s0
        dhcp: true
        vip:
          ip: 192.168.1.9

  - hostname: zoro
    ipAddress: 192.168.1.11
    controlPlane: true
    installDiskSelector:
      model: CT500P310SSD8
    networkInterfaces:
      - interface: enp1s0
        dhcp: true

  - hostname: nami
    ipAddress: 192.168.1.12
    controlPlane: true
    installDiskSelector:
      model: CT500P310SSD8
    networkInterfaces:
      - interface: enp1s0
        dhcp: true

controlPlane:
  patches:
    - |-
      cluster:
        proxy:
          disabled: true
        apiServer:
          admissionControl:
            - name: PodSecurity
              configuration:
                apiVersion: pod-security.admission.config.k8s.io/v1beta1
                kind: PodSecurityConfiguration
                exemptions:
                  namespaces:
                    - openebs
    - |-
      machine:
        sysctls:
          vm.nr_hugepages: "1024"
        nodeLabels:
          openebs.io/engine: mayastor
        kubelet:
          extraMounts:
            - destination: /var/local
              type: bind
              source: /var/local
              options:
                - bind
                - rshared
                - rw

  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/intel-ucode
