---
clusterName: going-merry
endpoint: https://192.168.1.9:6443
talosVersion: v1.11.5
kubernetesVersion: v1.34.1
cniConfig:
  name: none
allowSchedulingOnControlPlanes: true

additionalApiServerCertSans:
  - 192.168.1.9
additionalMachineCertSans:
  - 192.168.1.9
  - 192.168.1.10
  - 192.168.1.11
  - 192.168.1.12

nodes:
  - hostname: luffy
    ipAddress: 192.168.1.10
    controlPlane: true
    installDiskSelector:
      model: CT500P310SSD8
    networkInterfaces:
      - interface: enp1s0
        dhcp: true
        vip:
          ip: 192.168.1.9
    patches:
      - |-
        machine:
          disks:
            - device: /dev/disk/by-id/nvme-CT2000T500SSD8_25104E9DE40A
              partitions:
                - mountpoint: /var/mnt/longhorn

  - hostname: zoro
    ipAddress: 192.168.1.11
    controlPlane: true
    installDiskSelector:
      model: CT500P310SSD8
    networkInterfaces:
      - interface: enp1s0
        dhcp: true
    patches:
      - |-
        machine:
          disks:
            - device: /dev/disk/by-id/nvme-CT2000T500SSD8_252050D38FC7
              partitions:
                - mountpoint: /var/mnt/longhorn

  - hostname: nami
    ipAddress: 192.168.1.12
    controlPlane: true
    installDiskSelector:
      model: CT500P310SSD8
    networkInterfaces:
      - interface: enp1s0
        dhcp: true
    patches:
      - |-
        machine:
          disks:
            - device: /dev/disk/by-id/nvme-CT2000T500SSD8_25104E9DE271
              partitions:
                - mountpoint: /var/mnt/longhorn

controlPlane:
  patches:
    - |-
      cluster:
        proxy:
          disabled: true
        apiServer:
          admissionControl:
            - name: PodSecurity
              configuration:
                apiVersion: pod-security.admission.config.k8s.io/v1beta1
                kind: PodSecurityConfiguration
                exemptions:
                  namespaces:
                    - longhorn-system
    - |-
      machine:
        kubelet:
          extraMounts:
            - destination: /var/lib/longhorn
              type: bind
              source: /var/lib/longhorn
              options:
                - bind
                - rshared
                - rw
            - destination: /var/mnt/longhorn
              type: bind
              source: /var/mnt/longhorn
              options:
                - bind
                - rshared
                - rw

  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/intel-ucode
          - siderolabs/iscsi-tools
          - siderolabs/util-linux-tools
