apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: cloudnative-pg
  namespace: cnpg-system
spec:
  maxUnavailable: 0
  selector:
    matchLabels:
      app.kubernetes.io/name: cloudnative-pg
