apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  interval: 30m
  timeout: 10m

  chart:
    spec:
      chart: cert-manager
      version: "v1.17.1"
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: flux-system
      interval: 1h

  dependsOn:
    - name: cilium
      namespace: kube-system

  install:
    crds: CreateReplace
    remediation:
      retries: 3

  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      remediateLastFailure: true

  uninstall:
    keepHistory: false

  values:
    installCRDs: true
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
