---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: kube-system
spec:
  interval: 30m
  timeout: 10m

  dependsOn:
    - name: cilium
      namespace: kube-system

  chart:
    spec:
      chart: reloader
      version: "2.2.7"
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
      interval: 1h

  install:
    crds: Skip
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      remediateLastFailure: true

  uninstall:
    keepHistory: false

  values:
    reloader:
      watchGlobally: true
      isArgoRollouts: false
      isOpenshift: false
      ignoreSecrets: false
      ignoreConfigMaps: false
      reloadOnCreate: true
      syncAfterRestart: false
      logLevel: info
      logFormat: json

      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          cpu: 100m
          memory: 128Mi

    serviceMonitor:
      enabled: true
