---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: main-gateway
  namespace: kube-system
  annotations:
    io.cilium/lb-ipam-ips: ${LB_GATEWAY}
spec:
  gatewayClassName: cilium
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: All
    - name: https-auth
      protocol: HTTPS
      port: 443
      hostname: auth.${CLUSTER_DOMAIN}
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: authentik-tls
            namespace: authentik
      allowedRoutes:
        namespaces:
          from: All
    - name: https-grafana
      protocol: HTTPS
      port: 443
      hostname: grafana.${CLUSTER_DOMAIN}
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: grafana-tls
            namespace: monitoring
      allowedRoutes:
        namespaces:
          from: All
    - name: https-hubble
      protocol: HTTPS
      port: 443
      hostname: hubble.${CLUSTER_DOMAIN}
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: hubble-tls
            namespace: kube-system
      allowedRoutes:
        namespaces:
          from: All
    - name: https-longhorn
      protocol: HTTPS
      port: 443
      hostname: longhorn.${CLUSTER_DOMAIN}
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: longhorn-tls
            namespace: longhorn-system
      allowedRoutes:
        namespaces:
          from: All
    - name: https-adguard
      protocol: HTTPS
      port: 443
      hostname: adguard.${CLUSTER_DOMAIN}
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: adguard-tls
            namespace: adguard
      allowedRoutes:
        namespaces:
          from: All
    - name: https-homarr
      protocol: HTTPS
      port: 443
      hostname: homarr.${CLUSTER_DOMAIN}
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: homarr-tls
            namespace: homarr
      allowedRoutes:
        namespaces:
          from: All
    - name: https-frigate
      protocol: HTTPS
      port: 443
      hostname: frigate.${CLUSTER_DOMAIN}
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: frigate-tls
            namespace: home-automation
      allowedRoutes:
        namespaces:
          from: All
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: http-to-https-redirect
  namespace: kube-system
spec:
  parentRefs:
    - name: main-gateway
      namespace: kube-system
      sectionName: http
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301
